{% if "base_url:" in theme.logo.link %}
  {% set logoUrl = base_url_absolute ~ "/" ~ link.url|replace({"base_url:": ""}) %}
{% elseif onepage %}
  {# "#" ~ page.collection|first.menu|lower|replace({' ':'_'}) #}
  {% set logoUrl = "#start" %}
{% else  %}
  {% set logoUrl = base_url_absolute %}
{% endif %}

{% macro loop(page, sub) %}
  {% for p in page.children.visible %}
    {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
    {% if p.children.visible.count > 0 %}
      <li class="has-sub{% if current_page %} {{ current_page }}{% endif %}">
        <a href="{{ p.url }}" class="{% if sub %}{{ sub ~ '-' }}{% endif %}child">{% if p.header.icon %}<icon class="{{ p.header.icon }}"></icon>{% endif %}{{ p.menu }}</a>

        <!-- Submenu for {{ loop.index }} -->
        <ul class="nav-sub">
          {{ _self.loop(p, 'sub') }}
        </ul>
      </li>
    {% else %}
      <li{% if current_page %} class="{{ current_page }}"{% endif %}>
        <a class="{% if sub %}{{ sub ~ '-' }}{% endif %}child" href="{{ p.url }}">{% if p.header.icon %}<icon class="{{ p.header.icon }}"></icon>{% endif %}{{ p.menu }}</a>
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

<nav id="nav">
  <div class="container">
    <div class="row align-items-center">
      <div id="logo" class="col-6 col-lg-4 justify-content-start">
        <a href="{{ logoUrl }}">
          <img src="{{ url('theme://dist/images/logo.svg') }}" alt="{{ theme.logo.alt|default(site.title|e('html')) }}" title="{{ theme.logo.alt|default(site.title|e('html')) }}">
        </a>
      </div>

      <div class="col-6 hidden-lg-up">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <ul class="nav col-8 justify-content-end">
        {% if onepage %}
          {% for module in page.collection %}
            {% if not module.header.hidemenu %}
              <li>
                <a href="#{{ module.menu|lower|replace({' ':'_'}) }}">{{ module.menu }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% elseif theme.generall.dropdown|default(true) %}
          {{ _self.loop(pages) }}
        {% else %}
          {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li{% if current_page %} class="{{ current_page }}"{% endif %}>
              <a href="{{ page.url }}">{{ page.menu }}</a>
            </li>
          {% endfor %}
        {% endif %}
        <!-- Language switcher (lngs) -->
        {% include 'partials/langswitcher.html.twig' %}
      </ul>
    </div>
  </div>
</nav>
